<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/92e11e2d-eb69-41cf-9faf-21fed0fa1dfe/resourceGroups/techlingoprojeto20231016103221ResourceGroup/providers/Microsoft.ContainerRegistry/registries/techlingoprojeto20231016103221</ContainerResourceId>
    <ContainerResourceName>techlingoprojeto20231016103221</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>techlingoprojeto20231016103221.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>techlingo-projeto</ContainerName>
    <EnvironmentName>techlingoprojeto-env-20231016104102</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://techlingoprojeto-app-20231016104.gentlemoss-26471142.brazilsouth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/92e11e2d-eb69-41cf-9faf-21fed0fa1dfe/resourceGroups/techlingoprojeto20231016103221ResourceGroup/providers/Microsoft.App/containerapps/techlingoprojeto-app-20231016104</ResourceId>
    <ResourceGroup>techlingoprojeto20231016103221ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>9f5a94ee-c483-460d-85cc-9500d2be12ca</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>