.box-aula-conteudo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}
