h1 {
    text-align: center;
}

.box-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box-botoes input {
    margin: auto;
}

.curso-selecionado {
    width: 80%;
    padding: 8px;
    margin-bottom: 16px;
  }